@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 375px;
  background-color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  max-width: 100%;
  overflow-x: hidden;
}

img {
  height: auto;
  max-width: 100%;
}

input,
textarea,
a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

:focus {
  outline-style: none;
  outline-width: 0px !important;
  outline-color: transparent !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.pool-soon {
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  right: 10%;
  z-index: 9999;
  font-family: "Rubik", sans-serif;
  opacity: 0;
  transform: translateY(100px);
  transition:
    opacity 1s,
    transform 1s;
}

.pool-soon.show {
  opacity: 1;
  transform: translateY(0);
}

.pool-soon * {
  box-sizing: border-box;
}

.pool-soon__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none !important;
  position: relative;
  z-index: 2;
}

.pool-soon__link::before {
  content: "";
  display: block;
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  background: linear-gradient(180deg, #48befc 0%, #4269f4 100%);
  box-shadow: 0px 4px 23px 5px rgba(15, 29, 52, 0.24);
  border-radius: 50%;
  z-index: 0;
  transition: all 0.4s;
}

.pool-soon__link:hover::before,
.pool-soon__link:active::before,
.pool-soon__link:focus::before {
  top: -12px;
  left: -12px;
  right: -12px;
  bottom: -12px;
  background: linear-gradient(180deg, #7cd2ff 0%, #597bf3 100%);
  box-shadow: 0px 4px 23px 5px rgba(15, 29, 52, 0.24);
}

.pool-soon__details {
  position: relative;
  border: 2px solid #87e2ff;
  width: 150px;
  height: 150px;
  margin: auto;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.pool-soon__title {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 12px;
}

.pool-soon__icon {
  display: block;
  min-width: 22px;
  width: 100%;
}

.pool-soon__close-btn {
  border-radius: 50%;
  border: none;
  width: 41px;
  height: 41px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 22;
  background-color: #d9d9d9;
  cursor: pointer;
  transition: all 0.3s;
}

.pool-soon__close-btn svg {
  pointer-events: none;
}

.pool-soon__close-btn svg path {
  transition: all 0.6s;
}

.pool-soon__close-btn:hover,
.pool-soon__close-btn:active,
.pool-soon__close-btn:focus {
  background-color: #ffffff;
}

.pool-soon__close-btn:hover svg path,
.pool-soon__close-btn:active svg path,
.pool-soon__close-btn:focus svg path {
  fill: #000000;
}

.pool-promo {
  max-width: 100%;
  width: 100%;
  background-color: #2f6176;
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

.pool-promo * {
  box-sizing: border-box;
}

// .pool-promo__bg-image {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   object-fit: cover;
//   display: block;
// }

.pool-promo .wrapper {
  position: relative;
  max-width: 892px;
  margin: 0;
  margin-left: auto;
  background-image: url(img/pool-bg-2-crop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  padding: 76px;
  display: flex;
  min-height: 100vh;
}

.pool-promo__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  max-width: 671px;
  margin-left: auto;
}

.pool-promo__logo {
  max-width: 240px;
  margin-bottom: auto;
}

.pool-promo__logo img {
  display: block;
  width: 100%;
  margin-bottom: 32px;
}

.pool-promo__title {
  margin: 0;
  margin-bottom: 32px;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.23;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: none;
}

.pool-promo__subtitle {
  display: block;
  margin: 0;
  font-weight: 500;
  font-size: 31px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  margin-top: auto;
  margin-bottom: auto;
}

.pool-promo__links {
  display: grid;
  gap: 60px;
  grid-template-columns: auto auto;
  max-width: max-content;
  margin: 0 auto;
  margin-bottom: 32px;
}

.pool-promo__link {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none !important;
  display: grid;
  gap: 12px;
  align-items: center;
  grid-template-columns: 34px auto;
  text-align: left;
}

.pool-promo__button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: max-content;
  margin: 0 auto;
  background: #2aabee;
  border-radius: 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  font-family: "Rubik", sans-serif;
  color: #ffffff !important;
  height: 52px;
  box-sizing: border-box;
  text-decoration: none !important;
  padding: 14px 20px;
  margin-top: auto;
  transition: all 0.3s;
}

.pool-promo__button:hover,
.pool-promo__button:active,
.pool-promo__button:focus {
  background-color: #4285f4;
}

@media (max-width: 1440px) {
  .pool-promo .wrapper {
    padding: 70px 42px;
  }

  .pool-promo__flex {
    max-width: 550px;
  }

  .pool-promo__logo {
    max-width: 190px;
  }

  .pool-promo__title {
    margin-bottom: 24px;
    font-size: 46px;
  }

  .pool-promo__subtitle {
    font-size: 26px;
  }

  .pool-promo__link {
    font-size: 24px;
    grid-template-columns: 35px auto;
    color: #fff !important;
  }

  .pool-promo__links {
    gap: 32px;
  }
}

@media (max-width: 1200px) {
  .pool-promo .wrapper {
    max-width: 100%;
    background-image: url(img/bg-pool-1030.jpg);
  }
}

@media (max-width: 768px) {
  .pool-promo .wrapper {
    min-height: 670px;
  }

  .pool-promo__flex {
    max-width: 100%;
    margin: auto;
  }
}

@media (max-width: 550px) {
  .pool-promo .wrapper {
    padding: 65px 20px;
  }

  .pool-promo__title {
    margin-bottom: 24px;
    font-size: 34px;
  }

  .pool-promo__subtitle {
    font-size: 20px;
  }

  .pool-promo__links {
    gap: 12px;
    grid-template-columns: 1fr;
    max-width: 100%;
    margin-bottom: 12px;
  }

  .pool-promo__logo {
    max-width: 170px;
    margin-bottom: initial;
  }

  .pool-promo__subtitle {
    margin: initial;
    margin-bottom: 16px;
  }

  .pool-promo__button {
    margin-top: initial;
  }

  .pool-promo__links {
    gap: 6px;
    margin-bottom: 24px;
  }
}

/* 14.07.2023  */
.services {
  padding: 64px 0 32px;
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  padding-inline: 20px;
  margin-inline: auto;
}

.container {
  max-width: 1312px;
  margin-inline: auto;
}

.services__list {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(2, 1fr);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services__item {
  padding: 21px 32px 32px;
  border-radius: 20px;
  background-color: #fff;
  color: #fff !important;
  background: #2aabee;
  transition: all 0.3s;

  &:hover,
  &:focus {
    background-color: #4285f4 !important;
  }
}

.services__item.orange {
  background: #fb9905;
}

.services__name {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 17px;
  color: #fff !important;
}

.services__name::before {
  content: "";
  display: block;
  width: 48px;
  height: 48px;
  margin-right: 18px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='48' height='48' rx='24' fill='white'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M29.4183 15.0625C29.1693 15.0625 28.9228 15.1115 28.6928 15.2068C28.4628 15.3021 28.2538 15.4417 28.0777 15.6178C27.9017 15.7938 27.762 16.0028 27.6668 16.2328C27.5715 16.4628 27.5224 16.7094 27.5224 16.9583C27.5224 17.2073 27.5715 17.4538 27.6668 17.6838C27.762 17.9139 27.9017 18.1228 28.0777 18.2989C28.2538 18.4749 28.4628 18.6146 28.6928 18.7099C28.9228 18.8051 29.1693 18.8542 29.4183 18.8542C29.9211 18.8542 30.4033 18.6544 30.7588 18.2989C31.1144 17.9434 31.3141 17.4611 31.3141 16.9583C31.3141 16.4555 31.1144 15.9733 30.7588 15.6178C30.4033 15.2622 29.9211 15.0625 29.4183 15.0625ZM25.8974 16.9583C25.8974 16.0246 26.2684 15.129 26.9287 14.4687C27.589 13.8084 28.4845 13.4375 29.4183 13.4375C30.3521 13.4375 31.2476 13.8084 31.9079 14.4687C32.5682 15.129 32.9391 16.0246 32.9391 16.9583C32.9391 17.8921 32.5682 18.7877 31.9079 19.4479C31.2476 20.1082 30.3521 20.4792 29.4183 20.4792C28.4845 20.4792 27.589 20.1082 26.9287 19.4479C26.2684 18.7877 25.8974 17.8921 25.8974 16.9583ZM20.1449 16.0158C20.0184 15.8703 19.8392 15.781 19.6468 15.7676C19.4544 15.7542 19.2646 15.8178 19.119 15.9443C18.9735 16.0709 18.8842 16.2501 18.8708 16.4425C18.8574 16.6349 18.921 16.8247 19.0475 16.9703L20.1179 18.2183C20.3487 18.4875 20.518 18.804 20.6139 19.1454C20.7099 19.4869 20.7301 19.8452 20.6733 20.1953C20.6165 20.5454 20.4839 20.8789 20.2849 21.1725C20.0858 21.466 19.8251 21.7127 19.5209 21.8951L15.7542 24.1549C15.6627 24.2111 15.561 24.2486 15.4549 24.2652C15.3488 24.2818 15.2405 24.2772 15.1362 24.2517C15.0319 24.2262 14.9336 24.1803 14.8472 24.1166C14.7608 24.0529 14.6878 23.9727 14.6325 23.8807C14.5773 23.7886 14.5408 23.6865 14.5252 23.5803C14.5097 23.474 14.5153 23.3657 14.5418 23.2617C14.5684 23.1576 14.6153 23.0599 14.6798 22.9741C14.7443 22.8883 14.8253 22.8161 14.9179 22.7618L18.6835 20.5008C18.7849 20.4401 18.8718 20.3579 18.9381 20.2601C19.0045 20.1623 19.0487 20.0511 19.0676 19.9345C19.0866 19.8178 19.0799 19.6984 19.048 19.5846C19.0161 19.4708 18.9597 19.3654 18.8829 19.2756L17.8125 18.0265C17.4139 17.5544 17.2171 16.9445 17.2645 16.3285C17.312 15.7125 17.5999 15.1399 18.0661 14.7344C18.5323 14.329 19.1393 14.1233 19.756 14.1618C20.3726 14.2002 20.9494 14.4798 21.3615 14.9401L28.4032 22.9199C28.4752 22.9997 28.5307 23.093 28.5665 23.1944C28.6022 23.2958 28.6174 23.4033 28.6113 23.5106C28.6052 23.6179 28.5779 23.723 28.5309 23.8197C28.4839 23.9163 28.4181 24.0027 28.3375 24.0738C28.2569 24.1449 28.1629 24.1993 28.0611 24.2339C27.9593 24.2684 27.8517 24.2824 27.7444 24.275C27.6372 24.2676 27.5325 24.239 27.4363 24.1909C27.3402 24.1428 27.2546 24.076 27.1844 23.9946L20.1428 16.0148L20.1449 16.0158ZM15.9524 24.9382C16.6967 23.7747 18.2892 23.8126 19.0811 24.8255C20.1536 26.1981 21.6508 27.5208 24.0016 27.5208C26.3947 27.5208 27.8691 26.4603 28.882 25.105C29.662 24.0639 31.3585 23.8927 32.1754 25.131C32.8535 26.1547 33.588 26.9586 35.0213 27.2955C35.1256 27.3195 35.2242 27.3639 35.3113 27.4261C35.3985 27.4883 35.4724 27.5671 35.529 27.658C35.5856 27.7489 35.6236 27.8501 35.6409 27.9558C35.6583 28.0614 35.6546 28.1695 35.63 28.2737C35.6055 28.3779 35.5605 28.4762 35.4979 28.563C35.4352 28.6498 35.356 28.7234 35.2648 28.7794C35.1736 28.8355 35.0722 28.873 34.9664 28.8898C34.8607 28.9066 34.7527 28.9023 34.6486 28.8772C32.6423 28.4048 31.6077 27.2164 30.8201 26.0269C30.7909 25.9815 30.7501 25.9447 30.7019 25.9203C30.6537 25.8959 30.5999 25.8849 30.546 25.8883C30.475 25.8904 30.4055 25.9087 30.3426 25.9417C30.2797 25.9748 30.2252 26.0217 30.1831 26.0789C28.9199 27.77 26.9916 29.1458 24.0016 29.1458C20.9228 29.1458 19.0064 27.3692 17.8006 25.8254C17.77 25.7834 17.7299 25.7493 17.6836 25.7257C17.6373 25.7022 17.5861 25.69 17.5341 25.69C17.4911 25.6905 17.4489 25.7021 17.4117 25.7238C17.3745 25.7454 17.3435 25.7763 17.3218 25.8135C16.5201 27.0658 15.4855 28.3756 13.3546 28.8772C13.2505 28.9023 13.1425 28.9066 13.0368 28.8898C12.931 28.873 12.8297 28.8355 12.7385 28.7794C12.6473 28.7234 12.568 28.6498 12.5054 28.563C12.4427 28.4762 12.3978 28.3779 12.3732 28.2737C12.3487 28.1695 12.3449 28.0614 12.3623 27.9558C12.3796 27.8501 12.4177 27.7489 12.4742 27.658C12.5308 27.5671 12.6048 27.4883 12.6919 27.4261C12.779 27.3639 12.8776 27.3195 12.9819 27.2955C14.4997 26.938 15.2353 26.0605 15.9524 24.9382ZM15.9524 30.3548C16.6967 29.1913 18.2892 29.2292 19.0811 30.2422C20.1536 31.6147 21.6508 32.9375 24.0016 32.9375C26.3947 32.9375 27.8691 31.8769 28.882 30.5217C29.662 29.4795 31.3585 29.3094 32.1754 30.5477C32.8535 31.5714 33.588 32.3752 35.0213 32.7122C35.1256 32.7362 35.2242 32.7805 35.3113 32.8428C35.3985 32.905 35.4724 32.9838 35.529 33.0747C35.5856 33.1656 35.6236 33.2668 35.6409 33.3724C35.6583 33.4781 35.6546 33.5861 35.63 33.6903C35.6055 33.7945 35.5605 33.8929 35.4979 33.9797C35.4352 34.0665 35.356 34.14 35.2648 34.1961C35.1736 34.2522 35.0722 34.2897 34.9664 34.3065C34.8607 34.3232 34.7527 34.3189 34.6486 34.2938C32.6423 33.8215 31.6077 32.6331 30.8201 31.4436C30.7909 31.3982 30.7501 31.3614 30.7019 31.337C30.6537 31.3126 30.5999 31.3015 30.546 31.3049C30.4749 31.3072 30.4053 31.3257 30.3424 31.3589C30.2795 31.3921 30.2251 31.4392 30.1831 31.4967C28.9199 33.1867 26.9916 34.5625 24.0016 34.5625C20.9228 34.5625 19.0064 32.7858 17.8006 31.2421C17.77 31.2001 17.7299 31.1659 17.6836 31.1424C17.6373 31.1189 17.5861 31.1066 17.5341 31.1067C17.4911 31.1072 17.4489 31.1188 17.4117 31.1404C17.3745 31.1621 17.3435 31.193 17.3218 31.2302C16.5201 32.4825 15.4855 33.7923 13.3546 34.2938C13.2505 34.3189 13.1425 34.3232 13.0368 34.3065C12.931 34.2897 12.8297 34.2522 12.7385 34.1961C12.6473 34.14 12.568 34.0665 12.5054 33.9797C12.4427 33.8929 12.3978 33.7945 12.3732 33.6903C12.3487 33.5861 12.3449 33.4781 12.3623 33.3724C12.3796 33.2668 12.4177 33.1656 12.4742 33.0747C12.5308 32.9838 12.6048 32.905 12.6919 32.8428C12.779 32.7805 12.8776 32.7362 12.9819 32.7122C14.4997 32.3547 15.2353 31.4772 15.9524 30.3548Z' fill='%232AABEE'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-size: contain;
}

.services__item.children .services__name::before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='48' height='48' rx='24' fill='white'/%3e%3cpath d='M26.1667 28.9659C27.4185 28.4178 28.4179 27.4184 28.966 26.1666M19.034 26.1666C19.5822 27.4183 20.5816 28.4178 21.8334 28.9659M21.8334 19.0339C20.5816 19.5821 19.5822 20.5815 19.034 21.8332M26.1667 19.0339C27.4184 19.582 28.4179 20.5815 28.966 21.8332M27.25 33.1952C28.6209 32.7089 29.8659 31.9228 30.8944 30.8943C31.9229 29.8658 32.709 28.6207 33.1954 27.2499M14.8047 27.2499C15.291 28.6207 16.0771 29.8658 17.1056 30.8943C18.1341 31.9228 19.3792 32.7089 20.75 33.1952M20.75 14.8046C19.3792 15.2909 18.1341 16.077 17.1056 17.1055C16.0771 18.134 15.291 19.3791 14.8047 20.7499M27.25 14.8046C28.6209 15.2909 29.8659 16.077 30.8944 17.1055C31.9229 18.134 32.709 19.3791 33.1954 20.7499' stroke='%23FB9905' stroke-width='2' stroke-linecap='round'/%3e%3cpath d='M25.6263 20.2083H22.3763L20.7513 14.7916L21.8346 13.1666H26.168L27.2513 14.7916L25.6263 20.2083ZM20.2096 22.375V25.625L14.793 27.25L13.168 26.1666V21.8333L14.793 20.75L20.2096 22.375ZM22.3763 27.7916H25.6263L27.2513 33.2083L26.168 34.8333H21.8346L20.7513 33.2083L22.3763 27.7916ZM27.793 25.625V22.375L33.2096 20.75C33.7946 21.1833 34.2496 21.4 34.8346 21.8333V26.1666C34.2496 26.6 33.7946 26.8166 33.2096 27.25L27.793 25.625Z' stroke='%23FB9905' stroke-width='2' stroke-miterlimit='2' stroke-linejoin='round'/%3e%3c/svg%3e ");
}

.photogallery-slider {
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 64px;
  .swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: initial;
    list-style: none;
    padding: 0;
    z-index: 1;
  }
  .swiper-slide a {
    border-radius: 20px;
    display: flex;
    overflow: hidden;
  }
  .swiper-button-next {
    right: -37px;
  }
  .swiper-button-prev {
    left: -37px;
  }
}

.swiper-button {
  width: 76px;
  height: 76px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fb9905;
  color: #fff;
  transition: all 0.3s;

  &:hover,
  &:focus {
    background-color: #4285f4 !important;
  }

  &:after {
    font-size: 22px;
    font-weight: 500;
  }
}

footer {
  width: 100%;
  max-width: 100%;
}

@media (max-width: 1440px) {
  .photogallery-slider {
    .swiper-button-next {
      right: 10px;
    }
    .swiper-button-prev {
      left: 10px;
    }
  }
}
@media (max-width: 1024px) {
  .services__list {
    grid-template-columns: repeat(1, 1fr);
  }
  .services__name {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 12px;
    align-items: flex-start;
  }
  .services__item {
    padding: 20px;
  }

  .photogallery-slider {
    .swiper {
      overflow: hidden;
    }
    .swiper-button {
      width: 45px;
      height: 45px;
      &:after {
        font-size: 19px;
      }
    }
  }
}
